<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/main/css/general.css">
    <link rel="stylesheet" href="../../static/main/css/categories_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <a href="/login"><button class="button login__btn">Login</button></a>
    </div>
    <div class="main">
            <a href="/game/1"><button class="button category">Animals</button></a>
            <a href="/game/2"><button class="button category">Food</button></a>
            <a href="/game/3"><button class="button category">People</button></a>
            <a href="/game/4"><button class="button category">Geography</button></a>
            <a href="/game/5"><button class="button category">History</button></a>
            <a href="/game/6"><button class="button category">Medicine</button></a>
    </div>
    <div class="back">
        <a href="/"><button class="button back__btn">Back</button></a>
    </div>

</body>
</html>