<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/main/css/dashboard_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <a href="/login"><button class="login__btn">Login</button></a>
    </div>
    <div class="top">
        <h1 class="title">INFACT</h1>
        <p class="sub__title">explore a variety of unbelievable facts about our world</p>
    </div>
    <div class="dashboard__btns">
        <div>
            <a href="/game"><button class="dashboard__btn" >Random Facts</button></a>
        </div>
        <div>
            <a href="/categories"><button class="dashboard__btn">Choose a Category</button></a>
        </div>
    </div>

</body>
</html>