

.main {
    margin: 0 auto;
    display: grid;
    grid-gap: 70px;
    width: 800px;
    grid-template-columns: repeat(3, 1fr);
}

.category {
    height: 100px;
    width: 220px;
    font-size: 40px;
}


